.el-form--inline{

  .el-form-item{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.el-input__validateIcon {
  color: $available;
}

.el-dialog{
  &__body{
    padding: 10px 10px 0;
  }
  &__footer{

    padding-bottom: 10px;
  }
}


.el-icon{
  vertical-align: middle;
  margin-right: 4px;
}
