.el-form--inline {
  .el-form-item {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.el-input__validateIcon {
  color: $available;
}

.el-dialog {
  &__body {
    padding: 15px;
  }
  &__footer {
    padding-bottom: 10px;
  }
}

.el-button.is-text {
  padding: 3px 5px;
}
.el-button.is-text + .el-button.is-text {
  margin-left: 6px;
}

// .el-icon{
//   vertical-align: middle;
//   margin-right: 4px;
// }

// .el-table{
//   background-color: rgba($color: #fff, $alpha: 0.5) !important;
// }
