@import './variable.scss';
@import './element-plus.scss';
@import './page.scss';

html, body{
  height: 100%;
}
.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  margin-right: 1rem;
}

.el-aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(228, 228, 228, 0.5);
  // filter: blur(0.5px);
}

.el-menu {
  background-color: transparent;
  height: 100vh;
  &-item {
    padding: 0;
    height: 48px;
    line-height: 48px;

    &.is-active {
      background: #fff;
      color: #303030;
    }
  }
}


.el-container.is-vertical {
  margin-left: 210px;
  background-color: #f0f2f5;
  height: 100vh;
  min-height: 100%;
  transition: margin-left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.el-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  overflow: hidden;
}
.nav{

  &-left, &-right{
    display: flex;
    align-items: center;
  }
}
.hamburger {
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  &-icon{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;

    &.is-active{
      transform: rotate(180deg);
    }
  }
}

.notice{
  display: inline-block;
  overflow: hidden;

  &-badge{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    cursor: pointer;
  }
}

.full-screen, .role-info{
  display: inline-block;
  overflow: hidden;
  margin-left: 15px;
  cursor: pointer;
}

.full-screen{
  line-height: 1;
}

.role-info {
  
  .el-dropdown{
    font-size: 18px;
  }
}
.el-main {
  .page{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  .query-wrapper{
    // background-color: #f1f1f1;
    padding: 0 15px;
  }

  .pagination{
    margin-top: 20px;
  }
}
