.page-enter-active,
.page-leave-active{
  will-change: transform;
  transition: transform .3s ease-in;
}

.page-enter-form{
  opacity: 0;
  transform: translateX(-100%);
}

.page-leave-to{
  opacity: 0;
  transform: translateX(100%);
}